<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap" rel="stylesheet">

<style>
  body {
    margin: 1rem 1.5rem 1rem 1.5rem;
    text-align: justify;
  }

  footer > pre {
    text-align: center;
    border: none;
    padding: 1.5rem 0rem 0rem 1.5rem;
  }

  h1 {
    font-family: 'Rubik Iso', cursive;
    text-align: center;
    padding: 1rem 0rem 3rem 0rem;
  }

  pre {
    border: dotted black 1px;
    border-radius: 4px;
    padding: 4px;
  }

  /* code { */
  /*   color: blueviolet; */
  /* } */

  blockquote {
    border-left: 4px solid #000000;
    padding-left: 4px;
    background-color: lightgrey;
  }

  a {
    text-decoration: none;
  }
</style>

<h1 id="google-summer-of-code-2023org-gnutls">Google summer of code 2023(org: GnuTLS)</h1>

<p>Hello, I&#39;m Ajit singh registered as a <a
    href="https://summerofcode.withgoogle.com/programs/2023/projects/weKJfjhz">Pokémon</a> and also a computer science
  student. I was fortunate enough to participate in Google Summer of Code(GSOC) 2023. I worked with GnuTLS on improving
  privacy by adding an implementation for <a href="https://datatracker.ietf.org/doc/draft-ietf-tls-esni/">Encrypted
    Client Hello(ECH)</a>.</p>
<h2 id="contents">Contents</h2>
<ul>
  <li><a href="#project-overview">Project Overview</a></li>
  <li><a href="#implementation">Implementation &amp; Challenges</a></li>
  <li><a href="#result">Result &amp; link to contribution</a></li>
  <li><a href="#future-work">Future Work</a></li>
  <li><a href="#appreciation-for-mentors">Appreciation for mentors</a></li>
</ul>
<h2 id="project-overview">Project Overview</h2>
<p>Most modern applications use Transport Layer Security (TLS) to establish a secure connection between a client and a
  server. TLSv1.3 encrypts most of the handshake, including the server certificate. However, there is still room for
  improvement. The ClientHello message is still sent in plaintext, which contains sensitive metadata.</p>
<p>Encrypted Client Hello (ECH) is a draft extension for TLSv1.3 that enables clients to encrypt ClientHello messages in
  the TLS handshake. This prevents the sensitive metadata, such as the Server Name Indication (SNI) and Application
  Layer Protocol Negotiation (ALPN), from being leaked in plaintext.</p>
<p>The earlier iteration of this extension was called ESNI (Encrypted Server Name Indication). As the name suggests, it
  was proposed to encrypt only the SNI field. However, it was later renamed to ECH because it now encrypts the entire
  ClientHello message.</p>
<p><a href="https://gitlab.com/gnutls/gnutls">GnuTLS</a> is a free and open-source implementation of the TLS and Secure
  Sockets Layer (SSL) protocols. It is used by a variety of applications, including web browsers, email clients, and
  file transfer programs.This project aims to add support for the <strong>Encrypted Client Hello (ECH)</strong>
  extension to the GnuTLS library.</p>
<h2 id="implementation">Implementation</h2>
<p>GnuTLS relies on the nettle library, which is a collection of cryptographic algorithms and functions.
  ECH relies on the <a href="https://datatracker.ietf.org/doc/html/rfc9180">Hybrid Public Key Encryption(HPKE)</a>
  scheme, which is a new cryptographic protocol that combines the benefits of both symmetric and asymmetric encryption.
  This scheme is implemented in nettle but yet merge with master branch.</p>
<p>Community bonding period allowed me to get the good understanding of the poject and its requirements. Then finally I
  started the project by porting the HPKE code from <a
    href="https://git.lysator.liu.se/npocs/nettle/-/tree/hpke?ref_type=heads">npocs:nettle</a> repository to GnuTLS.
  This involved figuring out and resolving header files dependencies, refactoring the code to finally make it work with
  GnuTLS, it was quite a lot of work. This resulted as the <a
    href="https://gitlab.com/gnutls/gnutls/-/merge_requests/1749">first merge request</a> for the gsoc.</p>
<p>The next challenge was to actually start implementing ECH. The draft of the ECH is pretty big, so I needed to plan my
  implementation carefully. I decided to approach the implementation in an ad-hoc manner, which meant that I would start
  with the simplest parts of the protocol and work my way up to the more complex parts.</p>
<p>I went with the following order for my implementation:</p>
<ul>
  <li><a href="#add-new-extensions-%5B1%5D">Add new extensions</a></li>
  <li><a href="#deserialize-ech-configs-%5B2%5D">Deserialize ECH configs</a></li>
  <li><a href="#grease-ech-%5B3%5D">Grease ECH</a></li>
  <li><a href="#apis-addition-for-gnutls-%5B4%5D">APIs addition for GnuTLS</a></li>
  <li><a href="#offering-real-ech-%5B5%5D">Offering Real ECH</a></li>
  <li><a href="#encoding-clienthelloinner-%5B6%5D">Encoding ClientHelloInner</a></li>
  <li><a href="#encrypting-ech-%5B7%5D">Encrypting ECH</a></li>
  <li><a href="#determining-ech-acceptance-%5B8%5D">Determining ECH Acceptance</a></li>
  <li><a href="#compressing-the-clienthelloinner-%5B9%5D">Compressing the clientHelloInner</a></li>
</ul>
<p>This order of implementation allowed me to take on the challenges of ECH in a pretty nice order from low to high. By
  starting with the simplest parts of the draft, I was able to get a good understanding of how ECH works and to build up
  my confidence before I tackled the more complex parts.</p>
<h2 id="add-new-extensions-1">Add new extensions <a
    href="https://gnutls.org/manual/html_node/TLS-Extension-Handling.html">[1]</a></h2>
<p>Before starting, it was helpful to have entries for two new extensions: encrypted_client_hello (0xfe0d) and
  ech_outer_extensions (0xfd00). Registering these two extensions within GnuTLS allowed me to get familiar with the
  library.</p>
<h2 id="deserialize-ech-configs-2">Deserialize ECH configs <a
    href="https://datatracker.ietf.org/doc/html/draft-ietf-tls-esni-16#section-4-1">[2]</a></h2>
<p>This project tested to be interoperable with <a href="https://github.com/cloudflare/go/tree/cf">cloudflare</a> and others. To
  detect if ech is working or not, it has used this <a href="https://defo.ie/ech-check.php">[ech-check]</a> website.
  This shows if ECH is detected or not and also displays the value of Inner and Outer SNI. At this point I have
  serialized ech configs which are fetched from dns record using <code>dig defo.ie +short TYPE65</code>. This first
  needed to be decoded from base64 then It simply had to follow the same structure of ECHConfig as given in <a
    href="https://datatracker.ietf.org/doc/html/draft-ietf-tls-esni-16#section-4-1">ech-draft</a> to deserialize them.
</p>
<p><code>opaque HpkePublicKey&lt;1..2^16-1&gt;</code> here this notation in angular bracket simply suggests that
  <code>HpkePublicKey</code> size can be from 1 byte to 2^16-1 bytes.
  If it&#39;s a fixed byte length field then it simply needs to read that bytes, or else if it&#39;s a variable length
  field then first it needs to read the length of the field then it will read that much of bytes and finally store it as
  structured data. Initially it was quite complicated for me to understand this much only.
</p>
<h2 id="grease-ech-3">Grease ECH <a
    href="https://datatracker.ietf.org/doc/html/draft-ietf-tls-esni-16#name-grease-ech">[3]</a></h2>
<p>The only challenge faced while implementing this <a
    href="https://datatracker.ietf.org/doc/html/draft-ietf-tls-esni-16#name-grease-ech">grease ECH</a> was to get an
  understanding of how to use the nettle-hpke interface to generate this encapsulated hpke key and then serialize the
  structure. Now, Here comes the help from mentors. Generating <code>encap-hpke-key</code> simply involved of using
  <code>hpke_encap</code> function. Additionally, This section allowed me to get prepared for the future use of hpke
  functionalities.
</p>
<h2 id="apis-addition-for-gnutls-4">APIs Addition for GnuTLS <a
    href="https://gitlab.com/gnutls/gnutls/-/blob/master/CONTRIBUTING.md#introducing-new-functions-api">[4]</a></h2>
<p>Next, It is required to have some APIs to deserialize the ECHConfigs, select the valid ECHConfig and store it within
  session and one for enabling/disabling of ech feature. These APIs are used by gnutls-cli, which is used to test the
  project working, to get the ECH configs. This section also involved addition of cli-options for gnutls-cli which will
  be required to pass the pem-encoded ECHConfigs file name as an argument. <code>gnutls-cli</code> read and decode this
  pem-encoded file to raw data(serialized ECHConfigs).</p>
<h2 id="offering-real-ech-5">Offering Real ECH <a
    href="https://datatracker.ietf.org/doc/html/draft-ietf-tls-esni-15#name-offering-ech">[5]</a></h2>
<p>Now, it comes to enabling support for real ECH. This was the most important and challenging part of the project.
  Single ignorance here simply ended up as an issue which took days to resolve. The challenge, or say the core of the
  project was how to create a copy of this clientHello, not just copy but each for each copy we have some modifications
  still not just modifications but more than that, these could not be tackled at the same point. It&#39;s require to
  have copy of this clientHello for clientHelloInner and the clientHelloOuter but that&#39;s not all, then It have more
  modified copies one of clientHelloInner introduced as EncodedClienthelloInner and other one of clientHelloOuter
  introduced as clientHelloOuterAAD.</p>
<p>So, what&#39;s the big challenge with copying and modifying? Initially it was, just to come up with a solution, it
  was quite challenging. One reason is because of the order in which the copies need to be generated. ClientHelloOuter
  has EncodedClientHelloInner as payload and then clientHelloOuterAAD is required while encrypting the payload. If It
  ignores the order, it will simply end up with storing each copy in session and then fetch it from session whenever it
  needs to be used. This can simply be resolved by having a orignal(or a base) clientHello, which can later be modified
  whenever new copies need to be generated. Another reason is that, because of the GnuTLS library it implements in C it
  does not have any structured way to keep this original clientHello. Its implementation simply serializes clientHello
  and sends it to the server. Therefore even before generating clientHelloOuter there needs to be an original complete
  copy of clientHello.</p>
<p>One solution about modification could have been by parsing this serialized clientHello and directly modifying it.
  This can be more easily done by storing offset for each extension in an array so that while modifying it can directly
  jump to that extension.</p>
<p>For this approach, It has to generate and save a baseClientHello and then have a function <code>replaceExt(tls_id,
    data, offset)</code>, <code>addExt(tls_id, data, offset)</code> use these functions to generate modified copies.
  The only disadvantage of this approach is that this requires multiple insertion and deletion.</p>
<p>The other approach, which is used, is to modify the <code>gen_hello_extensions()</code> function in order to generate
  extension data with modification for each clientHello copies. This modification first stores all extensions data in
  session so that the extensions which do not need to be modified can simply be copied from there instead of generating.
  Then call this modified function to generate each copy with a flag indicating for which copy these extensions need to
  be generated. Other remaining fields of TLS clientHello could simply be rewritten in new copy, and then finally append
  this extensions data.</p>
<h2 id="encoding-clienthelloinner-6">Encoding ClientHelloInner <a
    href="https://datatracker.ietf.org/doc/html/draft-ietf-tls-esni-16#section-5.1-1">[6]</a></h2>
<p>At this point in the implementation, it is reasonable to skip the compression of the clientHelloInner and proceed
  directly to encoding it. Encoding can be done by generating a new, modified copy of the clientHello as specified in <a
    href="https://datatracker.ietf.org/doc/html/draft-ietf-tls-esni-16#section-5.1-3">section 5.1</a> of the draft.
  It uses the modified <code>gen_hello_extensions</code> to generate extensions and modify other required tls field
  simply while generating this modified serialized clientHello copy.</p>
<h2 id="encrypting-ech-7">Encrypting ECH <a
    href="https://datatracker.ietf.org/doc/html/draft-ietf-tls-esni-16#section-6.1.1-1">[7]</a></h2>
<p>Once It decided a approach to generate copies of clientHello, then it started with generating clientHelloOuter which
  have an extension ECH, now in order to generate the data for ECH extension we require to generate
  EncodedClienthelloInner which will serve as payload field for this extension data.
  This section involved generating payload(<a
    href="https://datatracker.ietf.org/doc/html/draft-ietf-tls-esni-15#name-encoding-the-clienthelloinn">EncodedClientHelloInner</a>)
  for <a
    href="https://datatracker.ietf.org/doc/html/draft-ietf-tls-esni-15#name-authenticating-the-clienthe">clientHelloOuter</a>
  and encrypting this payload using HPKE interface. Here comes the use of public key provided within ECHConfig.
  Encrypting this payload also requires clientHelloOuterAAD to serve as additional authenticated data which will be used
  to authenticate the clientHelloOuter.</p>
<h2 id="determining-ech-acceptance-8">Determining ECH Acceptance <a
    href="https://datatracker.ietf.org/doc/html/draft-ietf-tls-esni-15#name-determining-ech-acceptance">[8]</a></h2>
<p>This section wasn&#39;t that challenging in itself, it led me back to tls rfc and then look out implementation of
  functions <code>HDKF-Extract</code>, <code>HKDF-Expand-Label</code> within GnuTLS and function to generate transcript
  hash.</p>
<p>Now, so here it comes to a new challenge, what is this <a
    href="https://www.rfc-editor.org/rfc/rfc8446#section-4.4.1">transcript hash</a>? This value is computed by hashing
  the concatenation of each included handshake message. Now the challenging part was that if ECH is accepted then it
  have consider clientHelloInner as original clientHello else clientHelloOuter as original clientHello to this
  transcript hash. It resulted in storing this clientHelloInner within session as
  <code>handshake_hash_buffer_inner</code> so that in case if ECH is accepted we can proceed with it by replacing the
  original <code>handshake_hash_buffer</code> with <code>handshake_hash_inner_buffer</code> and other corresponding
  variables.
</p>
<p>To determine we have to compute the hash same way as in here <a
    href="https://datatracker.ietf.org/doc/html/draft-ietf-tls-esni-16#section-7.2-2">ech:section 7.2</a>. The
  <code>transcript_ech_conf</code> this also includes server hello after modifying last 8 bytes of server random to
  zeroes. Finally to determine acceptance of ech by server it compares last 8 bytes of server random with computer hash.
</p>
<p>While testing its interoperability with hosted ech enabled test server(defo.ie) it was hard to debug the
  issues, so I had a local <a href="https://gist.github.com/cjpatton/da8814704b8daa48cb6c16eafdb8e402">ech test
    server</a> which runs using cloudflare tls ech enabled library.</p>
<h2 id="compressing-the-clienthelloinner-9">Compressing the clientHelloInner <a
    href="https://datatracker.ietf.org/doc/html/draft-ietf-tls-esni-15#section-5.1-4">[9]</a></h2>
<p><code>Repeating large extensions, such as &quot;key_share&quot; with post-quantum algorithms, between
    ClientHelloInner and ClientHelloOuter can lead to excessive size. To reduce the size impact, the client MAY
    substitute extensions which it knows will be duplicated in ClientHelloOuter. It does so by removing and replacing
    extensions from EncodedClientHelloInner with a single &quot;ech_outer_extensions&quot; extension.</code> <a
    href="https://datatracker.ietf.org/doc/html/draft-ietf-tls-esni-16#section-5.1-4">[section5.1]</a></p>
<p>There is one more extension to carry out the data which is a list of references to the extensions which needs to be
  decompressed at server side introduced as <code>ech_outer_extensions</code>. To implement the compression of
  extensions, It simply replaces the first extension in list with <code>ech_outer_extensions</code> and skip the
  remaining extension from that list, doing so to ensure the to keep them in order. Current implementation only
  compresses <code>key_share</code> extension by default.</p>
<h2 id="result">Result</h2>
<h4 id="testing-ech-interoperability-with-cloudflare-ech-test-sever-httpsdefoie">Testing ech interoperability with
  openSSL ech test-sever (<a href="https://defo.ie">https://defo.ie</a>)</h4>
<p>On interacting using with gnutls-cli directly to check ech status test server <code>defo.ie</code></p>
<blockquote>
  <p>./src/gnutls-cli defo.ie --ech-configs-file config.pem</p>
</blockquote>
<p>Example config.pem</p>
<pre>
  <code>
    -----BEGIN ECH CONFIGS-----
    AEb+DQBCGwAgACDSupslkfIkg/C0be/yDdZqtUJs4ssKG5IgWHadWXn4KQAEAAEA
    ASUTY2xvdWRmbGFyZS1lc25pLmNvbQAA
    -----END ECH CONFIGS-----
  </code></pre>
<p>NOTE: using gnutls-cli with ech enabled will print out retry ech-configs as debug log(use -d2 with gnutls-cli)</p>
<p>use <code>dig</code> to manually fetch the ech-configs</p>
<blockquote>
  <p>dig defo.ie +short TYPE65</p>
</blockquote>
<p>On having valid ech-configs, gnutls-cli will proceed connecting to the server using ech, next client can send a HTTP
  request to the ech test server.</p>
<p>Example HTTP Request:</p>
<pre>
  <code>
  GET /ech-check.php HTTP/1.1
  Host: defo.ie
  </code>
</pre>
<p>As an output, here shown a part of HTML response from the server</p>
<pre><code>
  &lt;center&gt;
    &lt;Table width=600 border=0&gt;&lt;P&gt;&lt;h1&gt;defo.ie&lt;/h1&gt;

    &lt;p&gt;This is the defo.ie ECH check page that tells you if ECH was used.&lt;/p&gt;

    &lt;p&gt; PHP sez it&#39;s Tuesday 22nd of August 2023 04:06:42 AM(UTC)&lt;/p&gt;

    &lt;p&gt;SSL_ECH_OUTER_SNI: cover.defo.ie &lt;br /&gt;
    SSL_ECH_INNER_SNI: defo.ie &lt;br /&gt;
    SSL_ECH_STATUS: success &lt;img src=&quot;greentick-small.png&quot; alt=&quot;good&quot; /&gt; &lt;br/&gt;
    &lt;/p&gt;
    &lt;/TD&gt;
    &lt;/TR&gt;
  &lt;center&gt;
  </code></pre>
<h4 id="testing-interoperability-with-chrome-ech-test-server-httpstls-echdev">Testing interoperability with <a
    href="https://chromestatus.com/feature/6196703843581952">chrome ech test-server</a> (<a
    href="https://tls-ech.dev/">https://tls-ech.dev/</a>)</h4>
<p>Text within <code>&lt;h2&gt;</code> header tag display ech status</p>
<pre><code>
    ./src/gnutls-cli tls-ech.dev --ech-configs-file configs.pem

    ...

    GET / HTTP/1.1
    Host: tls-ech.dev

    ...

    &lt;body&gt;
    &lt;center&gt;
    &lt;h1&gt;tls-ech.dev&lt;/h1&gt;
    &lt;h2&gt;You are using ECH. :)&lt;/h2&gt;
    &lt;a href=&quot;/ech.dns&quot;&gt;Active ECH Config&lt;/a&gt;&lt;br/&gt;
    &lt;br/&gt;
    &lt;hr&gt;
    &lt;br/&gt;

    &lt;a href=&quot;https://tls-ech.dev&quot;&gt;Normal Server&lt;/a&gt;&lt;br/&gt;
    &lt;a href=&quot;https://stale.tls-ech.dev&quot;&gt;Stale Server Config&lt;/a&gt;&lt;br/&gt;
    &lt;a href=&quot;https://wrong.tls-ech.dev&quot;&gt;Wrong Public Name&lt;/a&gt;&lt;br/&gt;
    &lt;a href=&quot;https://tls12.tls-ech.dev&quot;&gt;TLS 1.2&lt;/a&gt;&lt;br/&gt;
    &lt;/center&gt;
    &lt;/body&gt;
  </code></pre>
<p>To disable the <code>ech</code> for gnutls-cli</p>
<blockquote>
  <p>./src/gnutls-cli defo.ie --disable-ech</p>
</blockquote>
<p>NOTE: As final results src/gnutls-cli is able to interoperate with different ech implementations.</p>
<p>Contributions:</p>
<ul>
  <li><a href="https://gitlab.com/GnuTLS/gnutls/-/merge_requests/1748/">Support for ECH</a></li>
  <li><a href="https://gitlab.com/GnuTLS/gnutls/-/merge_requests/1749/">Porting HPKE</a></li>
</ul>
<h2 id="future-work">Future Work</h2>
<p>This implementation only provides ECH support for client and still lacks few features such as <a
    href="https://datatracker.ietf.org/doc/html/draft-ietf-tls-esni-15#section-6.1.5-3">Hello Retry Request(HRR)</a> and
  enabling PSK support. The future tasks will be to implement these remaining features and to add server support for
  ECH.</p>
<h2 id="appreciation-for-mentors">Appreciation for mentors</h2>
<p>I would like to take this opportunity to thank my mentors Daiki Ueno, Sahana Prasad, Zoltan and Norbert Pocs for
  their guidance, support, and willingness to answer my questions throughout this project.</p>
<p>It has been an amazing experience to work on a real-world project with mentors who are experts in their field. I have
  learned so much and I am excited to continue my research in this area.</p>

<footer>
  <pre>"Despite my pain, I felt not the regret of an ending, but the foreboding of a beginning."

-Robin Hobb,Fool's Errand
  </pre>
</footer>
